.link-block {
    margin: 0 -5px;
    width: 100%
}
.link-block>.link-item {
    margin: 15px 7px 0;
    display: inline-block;
    width: 190px;
    height: 100px;
    text-align: center;
    cursor: pointer;
    text-decoration: none!important;
    border: 1px solid transparent;
    box-sizing: border-box;
    overflow: hidden;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.1)
}

.link-block>.link-item:hover {
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.3)
}

.link-block>.link-item p {
    margin: 0;
    line-height: inherit
}

.link-block>.link-item p.title {
    padding-top: 10px;
    padding-bottom: 5px
}

.link-block>.link-item p.intro {
    font-size: .8em;
    color: #666;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden
}